.bg-feature {
    background-image: url('../../assets/Vector1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100vh; /* Adjust as needed */
}
.bg-feature2 {
    background-image: url('../../assets/Vector1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh; /* Adjust as needed */
}
